<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <title>Roommate Chore Chart</title>-->
<!--    <link rel="stylesheet" href="/styles.css">-->
<!--    <link rel="stylesheet" href="https://picocss.com/releases/latest/css/pico.min.css">-->


<!--<style>-->

<!--    table {-->
<!--        border-collapse: collapse;-->
<!--        width: 100%;-->
<!--    }-->


<!--    th, td {-->
<!--        border: 1px solid #ccc;-->
<!--        padding: 16px;-->
<!--        text-align: center;-->
<!--    }-->


<!--    th {-->
<!--        background-color: #f0f0f0;-->
<!--    }-->

<!--</style>-->
<!--</head>-->
<!--<body>-->
<!--<h1 class="text-center">Roommate Chore Chart</h1>-->
<!--<div class="table-responsive">-->

<!--    <table>-->
<!--        <tr>-->
<!--            <th>Roommate / Day</th>-->
<!--            <th>Sun</th>-->
<!--            <th>Mon</th>-->
<!--            <th>Tue</th>-->
<!--            <th>Wed</th>-->
<!--            <th>Thu</th>-->
<!--            <th>Fri</th>-->
<!--            <th>Sat</th>-->
<!--        </tr>-->

<!--        <tr>-->
<!--            <td>-->
<!--                <button onclick="editRoommate('roommate-1')">Edit</button>-->
<!--            </td>-->
<!--            <td id="roommate-1-0">Chore 1</td>-->
<!--            <td id="roommate-1-1">Chore 2</td>-->
<!--            <td id="roommate-1-2">Chore 3</td>-->
<!--            <td id="roommate-1-3">Chore 4</td>-->
<!--            <td id="roommate-1-4">Chore 5</td>-->
<!--            <td id="roommate-1-5">Chore 6</td>-->
<!--            <td id="roommate-1-6">Chore 7</td>-->
<!--        </tr>-->


<!--        <tr>-->
<!--            <td>-->
<!--                <button onclick="editRoommate('roommate-2')">Edit</button>-->
<!--            </td>-->
<!--            <td id="roommate-2-0">Chore 1</td>-->
<!--            <td id="roommate-2-1">Chore 2</td>-->
<!--            <td id="roommate-2-2">Chore 3</td>-->
<!--            <td id="roommate-2-3">Chore 4</td>-->
<!--            <td id="roommate-2-4">Chore 5</td>-->
<!--            <td id="roommate-2-5">Chore 6</td>-->
<!--            <td id="roommate-2-6">Chore 7</td>-->
<!--        </tr>-->


<!--        <tr>-->
<!--            <td>-->
<!--                <button onclick="editRoommate('roommate-3')">Edit</button>-->
<!--            </td>-->
<!--            <td id="roommate-3-0">Chore 1</td>-->
<!--            <td id="roommate-3-1">Chore 2</td>-->
<!--            <td id="roommate-3-2">Chore 3</td>-->
<!--            <td id="roommate-3-3">Chore 4</td>-->
<!--            <td id="roommate-3-4">Chore 5</td>-->
<!--            <td id="roommate-3-5">Chore 6</td>-->
<!--            <td id="roommate-3-6">Chore 7</td>-->
<!--        </tr>-->


<!--        <tr>-->
<!--            <td>-->
<!--                <button onclick="editRoommate('roommate-4')">Edit</button>-->
<!--            </td>-->
<!--            <td id="roommate-4-0">Chore 1</td>-->
<!--            <td id="roommate-4-1">Chore 2</td>-->
<!--            <td id="roommate-4-2">Chore 3</td>-->
<!--            <td id="roommate-4-3">Chore 4</td>-->
<!--            <td id="roommate-4-4">Chore 5</td>-->
<!--            <td id="roommate-4-5">Chore 6</td>-->
<!--            <td id="roommate-4-6">Chore 7</td>-->
<!--        </tr>-->


<!--        <tr>-->
<!--            <td>-->
<!--                <button onclick="editRoommate('roommate-5')">Edit</button>-->
<!--            </td>-->
<!--            <td id="roommate-5-0">Chore 1</td>-->
<!--            <td id="roommate-5-1">Chore 2</td>-->
<!--            <td id="roommate-5-2">Chore 3</td>-->
<!--            <td id="roommate-5-3">Chore 4</td>-->
<!--            <td id="roommate-5-4">Chore 5</td>-->
<!--            <td id="roommate-5-5">Chore 6</td>-->
<!--            <td id="roommate-5-6">Chore 7</td>-->
<!--        </tr>-->


<!--    </table>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->



