<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chore Tracker</title>


    <style>

        .container label {
            font-size: 0.8em;
            font-weight: 400;
            color: #555;
            display: block;
            margin-bottom: 5px;
        }


        .secondary {
            background-color: transparent;
            color: #333;
            border: 1px solid #ccc;
            transition: background-color 0.3s, color 0.3s;
            cursor: pointer;
            text-decoration: none;
        }

        .secondary:hover {
            background-color: #f8f8f8;
            color: #555;
        }

        .day-Sunday {
            background-color: #FFE5E5;
        }

        .day-Monday {
            background-color: #E5E5FF;
        }

        .day-Tuesday {
            background-color: #E5FFEC;
        }

        .day-Wednesday {
            background-color: #FFFFE5;
        }

        .day-Thursday {
            background-color: #F4E1FF;
        }

        .day-Friday {
            background-color: #FFF3E5;
        }

        .day-Saturday {
            background-color: #E5F7FF;
        }



    </style>

    <script>
        function openModal(modalId) {
            var modal = document.getElementById(modalId);
            modal.style.display = "block";
        }

        function closeModal(modalId) {
            var modal = document.getElementById(modalId);
            modal.style.display = "none";
        }
    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"/>

    <script>
        function toggleModal(event) {
            event.preventDefault();
            var modal = document.getElementById(event.currentTarget.getAttribute("data-target"));
            modal.toggleAttribute("open");
        }
    </script>

</head>
<!--<header>-->
    <main class="container">
    <div th:replace="fragments/header :: nav"></div>

    </main>
<!--</header>-->
<body>
<main class="container">
    <h2>Chores Tracker for the week of  <span th:text="${startOfWeek}" style="color: #4B9CD3;"></span> to <span th:text="${endOfWeek}" style="color: #4B9CD3;"></span></h2>
    <h5>Current Time: <span th:text="${currentTime}" style="color: #4B9CD3;"></span></h5>

    <div class="calendar">



        <!-- Sunday -->
        <div class="day day-Sunday">
            <h3>Sunday</h3>
            <button class="open-modal-button contrast" data-target="SundayModal" onClick="toggleModal(event)">
                Add Chore for Sunday
            </button>

            <div th:each="sundayChore : ${sundayChores}" class="chore">
                <h4 th:text="${sundayChore.name}"></h4>
                <p>Assigned Roommate:
                    <span th:each="user : ${sundayChore.assignedUsers}">
                        <span th:text="${user.username} + ' '"></span>
                    </span>
                </p>
                <p th:text="${'Description: ' + sundayChore.description}"></p>
                <form th:action="@{'/deleteChore/' + ${sundayChore.id}}" method="get" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </div>
        </div>


        <dialog id="SundayModal">
            <article>
                <a href="#close" aria-label="Close" class="close" data-target="SundayModal" onClick="toggleModal(event)"></a>
                <h3>Add Chore for Sunday</h3>
                <form action="/addSundayChore" method="post">
                    <label for="sundayUser">Roommate:</label>
                    <select id="sundayUser" name="userId" required>
                        <option value="" disabled selected>Select a Roommate</option>
                        <option th:each="user : ${allUsers}" th:value="${user.id}" th:text="${user.username}"></option>
                    </select>

                    <label for="sundayDescription">Description:</label>
                    <input type="text" id="sundayDescription" name="description" required/>
                    <button type="submit">Add Chore</button>
                </form>
                <button class="close-modal-button secondary" data-target="SundayModal" onClick="toggleModal(event)">Close</button>
            </article>
        </dialog>



<!--something is making sunday merge with others, this div somewhat fixed this, still isues-->
    </div>

    <!-- Monday -->
    <div class="day day-Monday">
        <h3>Monday</h3>
        <button class="open-modal-button contrast" data-target="MondayModal" onClick="toggleModal(event)">
            Add Chore for Monday
        </button>

        <div th:each="mondayChore : ${mondayChores}" class="chore">
            <h4 th:text="${mondayChore.name}"></h4>
            <p>Assigned Roommate:
                <span th:each="user : ${mondayChore.assignedUsers}">
                        <span th:text="${user.username} + ' '"></span>
                    </span>
            </p>
            <p th:text="${'Description: ' + mondayChore.description}"></p>
            <form th:action="@{'/deleteChore/' + ${mondayChore.id}}" method="get" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </div>
    </div>

    <dialog id="MondayModal">
        <article>
            <a href="#close" aria-label="Close" class="close" data-target="MondayModal" onClick="toggleModal(event)"></a>
            <h3>Add Chore for Monday</h3>
            <form action="/addMondayChore" method="post">
                <label for="mondayUser">Roommate:</label>
                <select id="mondayUser" name="userId" required>
                    <option value="" disabled selected>Select a Roommate</option>
                    <option th:each="user : ${allUsers}" th:value="${user.id}" th:text="${user.username}"></option>
                </select>

                <label for="mondayDescription">Description:</label>
                <input type="text" id="mondayDescription" name="description" required/>
                <button type="submit">Add Chore</button>
            </form>
            <button class="close-modal-button secondary" data-target="MondayModal" onClick="toggleModal(event)">Close</button>
        </article>
    </dialog>


        <!-- Tuesday -->
        <div class="day day-Tuesday">
            <h3>Tuesday</h3>
            <button class="open-modal-button contrast" data-target="TuesdayModal" onClick="toggleModal(event)">
                Add Chore for Tuesday
            </button>

            <div th:each="tuesdayChore : ${tuesdayChores}" class="chore">
                <h4 th:text="${tuesdayChore.name}"></h4>
                <p>Assigned Roommate:
                    <span th:each="user : ${tuesdayChore.assignedUsers}">
                        <span th:text="${user.username} + ' '"></span>
                    </span>
                </p>
                <p th:text="${'Description: ' + tuesdayChore.description}"></p>
                <form th:action="@{'/deleteChore/' + ${tuesdayChore.id}}" method="get" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </div>
        </div>


        <dialog id="TuesdayModal">
            <article>
                <a href="#close" aria-label="Close" class="close" data-target="TuesdayModal" onClick="toggleModal(event)"></a>
                <h3>Add Chore for Tuesday</h3>
                <form action="/addTuesdayChore" method="post">
                    <label for="tuesdayUser">Roommate:</label>
                    <select id="tuesdayUser" name="userId" required>
                        <option value="" disabled selected>Select a Roommate</option>
                        <option th:each="user : ${allUsers}" th:value="${user.id}" th:text="${user.username}"></option>
                    </select>

                    <label for="tuesdayDescription">Description:</label>
                    <input type="text" id="tuesdayDescription" name="description" required/>
                    <button type="submit">Add Chore</button>
                </form>
                <button class="close-modal-button secondary" data-target="TuesdayModal" onClick="toggleModal(event)">Close</button>
            </article>
        </dialog>

        <!-- Wednesday -->
        <div class="day day-Wednesday">
            <h3>Wednesday</h3>
            <button class="open-modal-button contrast" data-target="WednesdayModal" onClick="toggleModal(event)">
                Add Chore for Wednesday
            </button>

            <div th:each="wednesdayChore : ${wednesdayChores}" class="chore">
                <h4 th:text="${wednesdayChore.name}"></h4>
                <p>Assigned Roommate:
                    <span th:each="user : ${wednesdayChore.assignedUsers}">
                        <span th:text="${user.username} + ' '"></span>
                    </span>
                </p>
                <p th:text="${'Description: ' + wednesdayChore.description}"></p>
                <form th:action="@{'/deleteChore/' + ${wednesdayChore.id}}" method="get" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </div>
        </div>

        <dialog id="WednesdayModal">
            <article>
                <a href="#close" aria-label="Close" class="close" data-target="WednesdayModal" onClick="toggleModal(event)"></a>
                <h3>Add Chore for Wednesday</h3>
                <form action="/addWednesdayChore" method="post">
                    <label for="wednesdayUser">Roommate:</label>
                    <select id="wednesdayUser" name="userId" required>
                        <option value="" disabled selected>Select a Roommate</option>
                        <option th:each="user : ${allUsers}" th:value="${user.id}" th:text="${user.username}"></option>
                    </select>

                    <label for="wednesdayDescription">Description:</label>
                    <input type="text" id="wednesdayDescription" name="description" required/>
                    <button type="submit">Add Chore</button>
                </form>
                <button class="close-modal-button secondary" data-target="WednesdayModal" onClick="toggleModal(event)">Close</button>
            </article>
        </dialog>


        <!-- Thursday -->
        <div class="day day-Thursday">
            <h3>Thursday</h3>
            <button class="open-modal-button contrast" data-target="ThursdayModal" onClick="toggleModal(event)">
                Add Chore for Thursday
            </button>

            <div th:each="thursdayChore : ${thursdayChores}" class="chore">
                <h4 th:text="${thursdayChore.name}"></h4>
                <p>Assigned Roommate:
                    <span th:each="user : ${thursdayChore.assignedUsers}">
                        <span th:text="${user.username} + ' '"></span>
                    </span>
                </p>
                <p th:text="${'Description: ' + thursdayChore.description}"></p>
                <form th:action="@{'/deleteChore/' + ${thursdayChore.id}}" method="get" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </div>
        </div>


        <dialog id="ThursdayModal">
            <article>
                <a href="#close" aria-label="Close" class="close" data-target="ThursdayModal" onClick="toggleModal(event)"></a>
                <h3>Add Chore for Thursday</h3>
                <form action="/addThursdayChore" method="post">
                    <label for="thursdayUser">Roommate:</label>
                    <select id="thursdayUser" name="userId" required>
                        <option value="" disabled selected>Select a Roommate</option>
                        <option th:each="user : ${allUsers}" th:value="${user.id}" th:text="${user.username}"></option>
                    </select>

                    <label for="thursdayDescription">Description:</label>
                    <input type="text" id="thursdayDescription" name="description" required/>
                    <button type="submit">Add Chore</button>
                </form>
                <button class="close-modal-button secondary" data-target="ThursdayModal" onClick="toggleModal(event)">Close</button>
            </article>
        </dialog>

        <!-- Friday -->
        <div class="day day-Friday">
            <h3>Friday</h3>
            <button class="open-modal-button contrast" data-target="FridayModal" onClick="toggleModal(event)">
                Add Chore for Friday
            </button>

            <div th:each="fridayChore : ${fridayChores}" class="chore">
                <h4 th:text="${fridayChore.name}"></h4>
                <p>Assigned Roommate:
                    <span th:each="user : ${fridayChore.assignedUsers}">
                        <span th:text="${user.username} + ' '"></span>
                    </span>
                </p>
                <p th:text="${'Description: ' + fridayChore.description}"></p>
                <form th:action="@{'/deleteChore/' + ${fridayChore.id}}" method="get" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </div>
        </div>

        <dialog id="FridayModal">
            <article>
                <a href="#close" aria-label="Close" class="close" data-target="FridayModal" onClick="toggleModal(event)"></a>
                <h3>Add Chore for Friday</h3>
                <form action="/addFridayChore" method="post">
                    <label for="fridayUser">Roommate:</label>
                    <select id="fridayUser" name="userId" required>
                        <option value="" disabled selected>Select a Roommate</option>
                        <option th:each="user : ${allUsers}" th:value="${user.id}" th:text="${user.username}"></option>
                    </select>

                    <label for="fridayDescription">Description:</label>
                    <input type="text" id="fridayDescription" name="description" required/>
                    <button type="submit">Add Chore</button>
                </form>
                <button class="close-modal-button secondary" data-target="FridayModal" onClick="toggleModal(event)">Close</button>
            </article>
        </dialog>

        <!-- Saturday -->
        <div class="day day-Saturday">
            <h3>Saturday</h3>
            <button class="open-modal-button contrast" data-target="SaturdayModal" onClick="toggleModal(event)">
                Add Chore for Saturday
            </button>

            <div th:each="saturdayChore : ${saturdayChores}" class="chore">
                <h4 th:text="${saturdayChore.name}"></h4>
                <p>Assigned Roommate:
                    <span th:each="user : ${saturdayChore.assignedUsers}">
                        <span th:text="${user.username} + ' '"></span>
                    </span>
                </p>
                <p th:text="${'Description: ' + saturdayChore.description}"></p>
                <form th:action="@{'/deleteChore/' + ${saturdayChore.id}}" method="get" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </div>
        </div>

        <dialog id="SaturdayModal">
            <article>
                <a href="#close" aria-label="Close" class="close" data-target="SaturdayModal" onClick="toggleModal(event)"></a>
                <h3>Add Chore for Saturday</h3>
                <form action="/addSaturdayChore" method="post">
                    <label for="saturdayUser">Roommate:</label>
                    <select id="saturdayUser" name="userId" required>
                        <option value="" disabled selected>Select a Roommate</option>
                        <option th:each="user : ${allUsers}" th:value="${user.id}" th:text="${user.username}"></option>
                    </select>

                    <label for="saturdayDescription">Description:</label>
                    <input type="text" id="saturdayDescription" name="description" required/>
                    <button type="submit">Add Chore</button>
                </form>
                <button class="close-modal-button secondary" data-target="SaturdayModal" onClick="toggleModal(event)">Close</button>
            </article>
        </dialog>



    </div>

    <h2>Things that need to get done the following week:</h2>
    <form action="/addChore" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required/>
        <label for="dueDate">Due Date:</label>
        <input type="date" id="dueDate" name="dueDate" required/>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" required/>
        <button type="submit">Add Chore</button>
    </form>


    <h2>Future Tasks:</h2>
    <div class="tasks">
        <div th:each="futureTask : ${futureTasks}" class="task">
            <p th:text="${futureTask.name}"> Assigned Roommate</p>
            <p th:text="${'Due Date: ' + futureTask.dueDate}"></p>
            <p th:text="${'Description: ' + futureTask.description}"></p>

            <form th:action="@{/moveToDayOfWeek/__${futureTask.id}__}" method="post">
                <select name="dayOfWeek">
                    <option value="Sunday">Sunday</option>
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                </select>
                <button type="submit">Move to Selected Day</button>
            </form>

            <form th:action="@{/deleteChore/__${futureTask.id}__}" method="get">
                <button type="submit">Delete</button>
            </form>
        </div>
    </div>
    </div>

</main>

<script>
    function openModal(day) {
        const modal = document.getElementById(`${day}Modal`);
        modal.style.display = "block";
    }

    function closeModal(day) {
        const modal = document.getElementById(`${day}Modal`);
        modal.style.display = "none";
    }
</script>

</body>
</html>



