<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error!</title>

    <link rel="stylesheet" href="https://unpkg.com/picocss@2/dist/pico.min.css">
    <style>
        body {
            background-color: #f9f9f9;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            font-family: 'Arial', sans-serif;
        }

        h1 {
            color: #d32f2f;
            font-size: 2.8em;
            text-align: center;
            margin-bottom: 1em;
        }

        span {
            display: block;
            text-align: center;
            color: #666;
        }
    </style>
</head>
<body>
<div class="error-container">
    <h1> 🔙 PLEASE GO BACK. I AM ERROR 🚫 </h1>
</div>
</body>
</html>
