<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sign in</title>
    <meta name="description" content="A minimalist layout for Login pages. Built with Pico CSS." />
    <link rel="shortcut icon" href="https://picocss.com/favicon.ico" />
    <link rel="canonical" href="https://picocss.com/examples/sign-in/" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />

    <link rel="stylesheet" href="signinStyles.css" />



<!--    copy and past to signinstyles.css-->
    <style>
        .roomease-text {
            font-size: 50px;
        }
    </style>


</head>

<body>

<nav class="container-fluid">
    <ul>
        <li>
            <a><strong class="roomease-text">RoomEase</strong></a>
        </li>
    </ul>
    <ul>

    </ul>
</nav>


<main class="container">
    <article class="grid">
        <div>
            <hgroup>
                <h2>Welcome to RoomEase!</h2>
            </hgroup>

            <h2>Don't have an account? <a href="/signup">Sign up</a></h2>

            <form action="/login" method="POST">
                <!-- Username -->

                <label for="username" id="username">Username</label>
                <input type="text" name="username">

                <!-- Password -->
                <label for="password">Password</label>
                <input type="password" name="password" id="password">

                <!-- Household ID -->
                <label for="householdid">Household ID</label>
                <input type="text" name="householdid" id="householdid">

                <input type="submit" value="Log in">
            </form>


        </div>


        <div>
<!--            <img src="https://placehold.co/700x800" alt="roommates.jpg">-->
            <img src="roommates.jpg" alt="Roommates" style="width: 700px; height: 580px; max-width: 100%;">
        </div>
    </article>
</main>
</body>
</html>
