<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <style>

        body {
            padding: 20px;
            font-family: Arial, sans-serif;
        }
        h1 {
            font-size: 24px;
        }

    </style>
</head>
<body>
<h1>Welcome to My Profile</h1>
<div th:replace="fragments/header :: nav"></div>

<p>Username: [[${username}]]</p>
<p>First Name: [[${currentUser.firstName}]]</p>
<p>Last Name: [[${currentUser.lastName}]]</p>
<p>Email: [[${currentUser.email}]]</p>
</body>
</html>