<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>

    <style>
        .profile-pic {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            margin-left: 20px;
        }


        <!--        p span.label {-->
                    <!--            font-weight: bold;-->

                    <!--        }-->

    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"/>
</head>
<body>
<main class="container">
    <div th:replace="fragments/header :: nav"></div>
    <h1>Welcome, this is <span th:text="${applicationUserUsername}" style="color: #4B9CD3;"></span> profile!</h1>

    <div>
        <article class="profile-details">
            <header>
                <img
                        src="https://images.unsplash.com/photo-1425082661705-1834bfd09dca?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2076&q=80"
                        alt="Profile Picture" class="profile-pic">
            </header>

            <p><span class="label">Username:</span> <span th:text="${applicationUserUsername}"></span></p>
            <p><span class="label">First Name:</span> <span th:text="${applicationUserFirstName}"></span></p>
            <p><span class="label">Last Name:</span> <span th:text="${applicationUserLastName}"></span></p>
            <p><span class="label">Email:</span> <span th:text="${applicationUserEmail}"></span></p>
            <p><span class="label">Phone Number:</span> <span th:text="${applicationUserTelephone}"></span></p>

        </article>

    </div>

</main>

</body>
</html>






<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>User Information</title>-->
<!--    <link rel="stylesheet" th:href="@{/css/styles.css}" />-->

<!--    <style>-->
<!--    .profile-pic {-->
<!--    width: 200px;-->
<!--    height: 200px;-->
<!--    border-radius: 50%;-->
<!--    margin-left: 20px;-->
<!--    }-->

<!--    </style>-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"/>-->
<!--</head>-->
<!--<body>-->

<!--<div>-->
<!--    <h1>User Profile</h1>-->

<!--    <main class="container">-->
<!--        <div th:replace="fragments/header :: nav"></div>-->
<!--            <h1>Users profile of  </h1>-->
<!--    <h3>Details of the User Being Viewed</h3>-->

<!--    </ul>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->



