<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">


</head>
<body>

<nav aria-label="breadcrumb">
    <ul>
        <li><a href="/myprofile">My Profile</a></li>
        <li><a href="/users">View My Flatmates</a></li>
        <li><a href="/choresTracker">Chore Tracker</a></li>
        <li><a href="/resolveConflict">Resolve a Conflict</a></li>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/aboutUs">About Us</a></li>
        <li><a href="/logout" role="button">Logout</a></li>
    </ul>
</nav>


</body>
</html>
